body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 800px;
}

#attendanceApp {
    margin-top: 20px;
}

thead th {
    text-align: center;
}

td select {
    width: 100%;
    padding: 5px;
}

.resizable th {
    position: relative;
}

.resizable th:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
    height: 100%;
    cursor: col-resize;
}
